# Recommended PyTorch installation for GPU
torch==2.1.2+cu121
torchvision==0.16.2+cu121
torchaudio==2.1.2
--extra-index-url https://download.pytorch.org/whl/cu121

# Other dependencies
numpy
opencv-python-headless
flask
flask-cors
requests
mediapipe
pydub
moviepy